<!DOCType html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/styles/home.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
		<title> currency converter</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="nav_logo">CURRENCYConverter</div>
				<ul class="nav_links">
					<li class="link"><a href="{{ url_for('home') }}">Home</a></li>
					<li class="link"><a href="{{ url_for('about') }}">About</a></li>
					<li class="link"><a href="#">Blog</a></li>
					<li class="link"><a href="#">Contact Us</a></li>
				</ul>
				<button class="btn"><a href="{{ url_for('signup') }}">Register Now</a></button>
			</nav>
			rrfgggg
		</div>
	</body>
</html>
