<!DOCType html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../static/styles/home.css">
		<link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
		<title> currency converter</title>
	</head>
	<body>
		<div class="container">
			<nav>
				<div class="nav_logo">CURRENCYConverter</div>
				<ul class="nav_links">
					<li class="link"><a href="{{ url_for('home') }}">Home</a></li>
					<li class="link"><a href="{{ url_for('about') }}">About</a></li>
					<li class="link"><a href="#">Blog</a></li>
					<li class="link"><a href="#">Contact</a></li>
				</ul>
				<button class="btn"><a href="{{ url_for('signup') }}">Register</a></button>
			</nav>
			<header class="header">
				<div class="content">
					<h1><span>ONE TAP</span><br />Currency Conversion</h1>
					<p>
						Our advanced currency converter supports up to 130 different currencies, providing accurate and real-time exchange rates from reliable financial sources. With a user-friendly interface, it allows seamless conversion for travelers, businesses, investors, and researchers. The tool offers detailed conversion breakdowns and access to historical data for trend analysis, making it a dependable choice for anyone needing precise currency information. Whether for international travel, financial operations, or academic research, our currency converter ensures a smooth and efficient experience.
					</p>
					<button class="btn"><a href="{{ url_for('dashboard') }}">Click For Free Trial</a></button>
				</div>
				<div class="image">
					<span class="image_bg"></span>
					<img src="../static/images/background.png">
					<div class="image_content image_content_1">
						<span><i class="ri-arrow-left-right-fill"></i></span>
						<div class="details">
							<h4>200,000+</h4>
							<p> Daily Conversions</p>
						</div>
					</div>
					<div class="image_content image_content_2">
						<ul>
							<li>
								<span><i class="ri-check-double-line"></i></span>
								No Premium Subscriptions
							</li>
							<li>
								<span><i class="ri-check-double-line"></i></span>
								Unlimited Number of Conversions
							</li>
						</ul>
					</div>
				</div>
			</header>
			<div class="all">
				<div class="card_container">
					<article class="card_article">
						<img src="../static/images/1.jpg" class ="card_img">
						<div class="card_data">
							<span class="card_description">A sign up page for a user to create an account and also login if account already exists</span>
							<h2 class="card_title">SIGN UP PAGE</h2>
							<a href="#" class="card_button">Signup</a>
						</div>
					</article>
					<article class="card_article">
						<img src="../static/images/2.jpg" class ="card_img">                                                                                                                            <div class="card_data">
							<span class="card_description">A log8n page if the user already has an account</span>                                                                                                                                          <h2 class="card_title">LOGIN PAGE</h2>
							<a href="#" class="card_button">Login</a>                                                                                                                                    </div>
					</article>
					<article class="card_article">
						<img src="../static/images/3.jpg" class ="card_img">                                                                                                                            <div class="card_data">
							<span class="card_description">The actual currency converter application</span>                                                                                                                                          <h2 class="card_title">CURRENCY CONVERTER</h2>
							<a href="#" class="card_button">Free Trial</a>                                                                                                                                    </div>
					</article>
				</div>
			<div>
		</div>
	</body>
</html>
