<!DOCType html>
<html>
	<head>
		<title>Login page</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="../static/styles/login.css" />
	</head>
	<body>
		<div class="container">
			<form action="{{ url_for('login') }}" method="post">
				<p>Welcome</p>
				<input type="email" name="email" placeholder="Your email" required=""><br>
				<input type="password" name="password" placeholder="Your password" required=""><br>
				<input type="submit" value="Sign in"><br>
				<div class="link">
					<a href="{{ url_for('reset') }}" >Forgot Password? </a> &nbsp <a href="{{ url_for('signup') }}"> Sign Up </a>
				</div>
			</form>
			<div class="drops">
				<div class="drop drop-1"></div>
				<div class="drop drop-2"></div>
				<div class="drop drop-3"></div>
				<div class="drop drop-4"></div>
				<div class="drop drop-5"></div>
				<div class="drop drop-6"></div>
				<div class="drop drop-7"></div>
				<div class="drop drop-8"></div>
			</div>
		</div>
	</body>
</html>
