@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif, serif;
}

.btn {
	padding: 1.3rem 2rem;
	outline: none;
	border: none;
	font-size: 1rem;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	border-radius: 15px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	color: #fff;
	background-color: rgba(0,0,0,0.6);
	border: 1px solid #000;
	border-radius: 16px;
	box-shadow: 5px 10px 9px #000;
}

.btn a {
	color: #fff;
	text-decoration: none;
}

.container {
	max-width: 1200px;
	margin: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

nav {
	padding: 2rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.nav_logo {
	font-size: 1.5rem;
	font-weight: 600;
	color:#2b3240;
}

.nav_links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.link a {
	text-decoration: none;
	color: rgba(0,0,0,1);
	cursor: pointer;
	transition: 0.3s;
	font-size: 1.2rem;
}

.link a:hover {
	text-transform: uppercase;
	color: #9082f7;
	font-weight: bold;

}

.header {
	padding: 0 1rem;
	flex: 1;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
}

.content h1 {
	margin-bottom: 1rem;
	font-size: 3rem;
	font-weight: 700;
	color: #43597d;
}

.content h1 span {
	font-weight: 800;
	color: #7a3ce3;
}

.content p {
	margin-bottom: 2rem;
	color: #141d14;
	line-height: 1rem;
}

.image {
	position: relative;
	text-align: center;
	isolation: isolate;
}

.image_bg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 400px;
	width: 400px;
	background-color: #fff;
	border-radius: 100%;
	z-index: -1;
}

.image img {
	max-width: 475px;
	height: 475px;
}

.image_content {
	position: relative;
	top: 50%;
	left: 50%;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	gap: 1rem;
	text-align: left;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.image_content_1 {
	transform: translate(calc(-50% - 0rem), calc(-50% - 3rem));
}

.image_content_1 span{
	padding: 10px 12px;
	font-size: 1.5rem;
	color: #fff;
	background-color: #151d14;
	border-radius: 100%;
}

.image_content_1 h4 {
	font-size: 1.5rem;
	font-weight: 600;
	color: rgba(0,0,0,1);
}

.image_content_1 p {
	color: #071c3b;
}

.image_content_2 {
	transform: translate(calc(-50% + 0rem), calc(-50% + 0rem));
}

.image_content_2 ul {
	list-style: none;
	display: grid;
	gap: 1rem;
}

.image_content_2 li {
	display: flex;
	align-items: flex-start;
	gap: 0.5rem;
	color: #141d14;
}
.image_content_2 span {
	font-size: 1.5rem;
	color: #141d14;
}

.all {
	display: grid;
	place-items: center;
	margin-inline: 1.5rem;
	padding-block: 5rem;
}

.card_container {
	display: grid;
	row-gap: 3.5rem;
}

.card_article {
	position: relative;
	/*overflow: hidden*/
}

.card_img {
	width: 328px;
	border-radius: 1.5rem;
}

.card_data {
	width: 280px;
	background-color: #fff;
	padding: 1.5rem 2rem;
	box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
	border-radius: 1rem;
	position: absolute;
	bottom: -9rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	opacity: 0;
	transition: opacity 1s 1s;
}

.card_description {
	display: block;
	font-size: 1rem;
	margin-bottom: .25rem;
}

.card-title {
	font-size: 1.3rem;
	font-weight: 500;
	color: #141d14;
	margin-bottom: .75rem;
}

.card_button {
	text-decoration: none;
	font-size: .8rem;
	font-weight: 500;
	color: rgba(255,0,0,0.7);
}

.card_button:hover {
	text-decoration: underline;
}

.card_article:hover .card_data {
	animation: show-data 1s forwards;
	opacity: 1;
	transition: opacity .3s;
}

.card_article:hover {
	animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) {
	animation: remove-overflow 2s forwards;
}

.card_article:not(:hover) .card_data{
	        animation: remove-data 1s forwards;
}

@keyframes show-data {
	50% {
		transform: translateY(-10rem);
	}
	100% {
		transform: translateY(-7rem);
	}
}

@keyframes remove-overflow {
	to {
		overflow: initial;
	}
}

@keyframes remove-data {
	0% {
		transform: translateY(-7rem);
	}
	50% {
		transform: translateY(-10rem);
	}
	100% {
		transform: translateY(.5rem);
	}
}

@keyframes show-overflow {
	0% {
		overflow: initial;
		pointer-events: none;
	}
	50% {
		overflow: hidden;
	}
i

@media screen and (max-width: 340px) {
	.all {
		margin-inline: 1rem;
	}
	.card_data {
		width: 250px;
		padding: 1rem;
	}
}

@media screen and (max-width: 760px) {
	.card_container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
	}
}

@media screen and (max-width: 1120px) {
	.all {
		height: 100vh;
	}

	.card_container {
		grid-template-columns: repeat(3, 1fr);
	}
	.card_img {
		width: 340px;
	}
	.card_data {
		width: 316px;
		padding-inline: 2.5rem;
	}
}
